<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/CSS/login.css">
    <!-- 图标字体库 -->
    <link rel="stylesheet" href="../static/paggage/iconfont.css">
    <title></title>
</head>
<body>
    <div class="login-box">
        <div class="title">多终端农业监测调控管理</div>
        <img src="../static/photos/login_photo.png" class="img">
        <div class="form box-style" role="form">
            <input id="name-input" class="form-text sub" type="text" name="login_name" placeholder="请输入用户名">
            <input id="pwd-input" class="form-pwd sub" type="password" name="login_pwd" placeholder="请输入密码">
            <input id="btn" class="form-btn do-login" type="button"  value="立即登录">
        </div>
    </div>

</body>


<script type="text/javascript" src="{{ static_url('plugins/jquery-2.1.1.js') }}"></script>
<script src="{{static_url('JS/common.js')}}"></script>
<script src="{{static_url('JS/login.js')}}"></script>
<script  src="{{ static_url('bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ static_url('plugins/layer/layer.js') }}"></script>




